* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #161623;
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    flex-wrap: wrap;
    z-index: 1;
}

.card-container .card {
    margin: 30px;
    position: relative;
    height: 400px;
    width: 280px;
    box-shadow: 20px 20px 50px rgb(162, 162, 161, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.card-container .card .card-content {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;
}

.card-container .card:hover .card-content {
    transform: translateY(0px);
    opacity: 1;
}

.card-container .card .card-content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.card-container .card .card-content h3 {
    font-size: 1.8rem;
    color: #F1F4FFFF;
    z-index: 1;
}

.card-container.card .card-content p {
    font-size: 1em;
    color: #F1F4FFFF;
    font-weight: 300;
}

.card-container .card .card-content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #F1F4FFFF;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}