/*colors*/

:root {
    --main: #2460A7FF;
    --hover: rgb(33, 86, 150);
    --logo: #B3C7D6FF;
    --header: #F1F4FFFF;
    --logout: #FF4F58FF;
    /*colors*/
    --silver: #A2A2A1FF;
    --sugar: #F1F4FFFF;
    --deepblue: #2460A7FF;
    --sky: #85B3D1FF;
    --babyblue: #B3C7D6FF;
    --coffe: #D9B48FFF;
    --DelphiniumBlue: #669DB3FF;
    --atmosphere: #A89C94FF;
    --fierycoral: #FF4F58FF;
}


/*End colors*/


/*    Guide for me bech ken nsit XD
navbar line : 44/132
post slider line:  136/
*/


/*font-family: 'Lora', serif; 
for the darkmode put isolation:isolate; to avoide decoration of element*/

* {
    box-sizing: border-box;
    list-style: none;
}

body {
    padding: 0px;
    margin: 0px;
    background: #F1F4FFFF;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    padding: .6rem 1rem;
    background: var(--main);
    color: var(--sugar);
    border: 1px solid transparent;
    isolation: isolate;
}

.btn:hover {
    padding: .6rem 1rem;
    background: var(--hover);
    color: var(--sugar);
    border: 1px solid transparent;
    isolation: isolate;
    transition: 0.4s;
}

.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: var(--silver);
    line-height: 1.5rem;
    font-family: "lora", serif;
    border: 1px solid var(--silver);
    font-size: 1.2em;
}


/*navbar*/

header {
    isolation: isolate;
    background: var(--main);
    height: 66px;
}

header * {
    color: var(--sugar);
    font-weight: bold;
}

header .logo {
    float: left;
    margin-left: 2rem;
    height: inherit;
}

header .logo-text {
    margin: 8px;
    font-family: 'Candal', sans-serif;
}

header .logo-text span {
    color: var(--logo);
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: 'Lora', serif;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
    z-index: 5;
}

header ul li ul li a {
    padding: 10px;
    background: whitesmoke;
    color: #444;
}

header ul li ul li a.logout {
    color: var(--logout);
    z-index: 5;
}

header ul li ul li a:hover {
    background: rgb(179, 179, 179);
}

header ul li a {
    display: block;
    padding: 21px;
    text-decoration: none;
    font-size: 1.1rem;
}

header ul li a:hover {
    background: var(--hover);
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}


/*End navbar*/


/*post slider*/

.post-slider {
    z-index: 2;
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
    font-family: 'Candal', sans-serif;
    color: var(--silver);
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2rem;
    color: var(--main);
    cursor: pointer;
}

.post-slider .next {
    position: absolute;
    right: 30px;
    top: 50%;
    font-size: 2rem;
    color: var(--main);
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    background: var(--sugar);
    display: inline-block;
    width: 300px;
    height: 330px;
    margin: 0px 10px;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem var(--silver);
    z-index: 2;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
}

.post-slider .post-wrapper .post .post-info a,
p {
    font-family: 'Candal', sans-serif;
}

.page-wrapper a:hover {
    color: var(--main);
    transition: 0.4s;
}


/*end post slider*/


/*content*/

.content {
    width: 90%;
    margin: 30px auto 30px;
    font-family: 'Candal', sans-serif;
}

.content h2 :hover {
    color: var(--main);
    transition: 0.4s;
}

.recent-post-title {
    color: var(--silver);
    margin: 20px;
}

.content .main-content {
    width: 70%;
    float: left;
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 25px auto;
    border-radius: 4px;
    background: var(--sugar);
    position: relative;
}

.content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid var(--main);
    background: var(--sugar);
    color: inherit;
    isolation: isolate;
}

.content .main-content .post .read-more:hover {
    border: 1px solid transparent;
    isolation: isolate;
    border: none;
    background: var(--main);
    color: var(--sugar);
    transition: 0.4s;
}

.content .main-content .post img {
    width: 40%;
    height: 100%;
    float: left;
    object-fit: cover;
}

.content .main-content .post .post-preview {
    padding: 10px;
    width: 60%;
    float: right;
}


/*end content*/


/*back to top icon*/

.back-to-top {
    position: fixed;
    background: var(--main);
    color: var(--sugar);
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: 0.5s;
    z-index: 11;
    visibility: hidden;
    opacity: 0;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.back-to-top i {
    color: var(--sugar);
    z-index: 12;
    margin-top: 12px;
}


/*end back to top icon */


/* asdide*/

.content .sidebar {
    width: 30%;
    float: left;
    height: 300px;
}

.content .sidebar .section {
    background: var(--sugar);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .sidebar .section.search {
    margin-top: 85px;
}

.content .sidebar .section.topics ul {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid var(--silver);
}

.content .sidebar .section.topics ul li a {
    border-bottom: 1px solid var(--silver);
    display: block;
    padding: 15px 0px 15px 0px;
    transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
    color: var(--main);
}

.content .sidebar .section .section-title {
    margin: 10px 0px 10px 0px;
    color: var(--silver);
}


/* end od aside*/


/*media queries*/

@media only screen and (max-width: 750px) {
    header {
        position: relative;
        z-index: 5;
    }
    header .toggle {
        position: absolute;
        width: 66px;
        height: 66px;
        cursor: pointer;
        transition: 0.5s;
        background: #2460A7FF;
        right: 0px;
    }
    .toggle span {
        width: 50%;
        height: 4px;
        position: absolute;
        transition: 0.5s;
        background: #F1F4FFFF;
        transform: translateX(-50%);
    }
    .toggle span:nth-child(1) {
        top: 30%;
        left: 50%;
    }
    .toggle span:nth-child(2) {
        bottom: 30%;
        left: 50%;
    }
    .toggle.active span {
        background: #2460A7FF;
    }
    .toggle.active span:nth-child(1) {
        top: 45%;
        left: 50%;
        width: 60%;
    }
    .toggle.active span:nth-child(2) {
        bottom: 50%;
        left: 50%;
        width: 60%;
    }
    .toggle.active span:nth-child(1) {
        transform: translate(-50%, -50%) rotate(135deg);
    }
    .toggle.active span:nth-child(2) {
        transform: translate(-50%, -50%) rotate(215deg);
    }
    .toggle::before {
        position: absolute;
        width: 50%;
        height: 4px;
        content: "";
        right: 20px;
        top: 17px;
        transform: translate(-50%, -50%);
        background: #F1F4FFFF;
        transition: 0.5s;
        top: 50%;
        left: 50%;
    }
    .toggle.active:before {
        width: 100%;
        height: 100%;
    }
    header .logo {
        margin-left: .4rem;
        font-size: 14px;
    }
    header .logo-text {
        margin: 12px;
        font-family: 'Candal', sans-serif;
    }
    header .logo-text span {
        color: var(--logo);
    }
    header ul li {
        width: 100%;
    }
    header ul li ul {
        position: static;
        display: block;
        width: 100%;
        padding: left 50px;
    }
    header ul li ul li a {
        color: var(--header);
        background: var(--main);
    }
    header ul li ul li a:hover {
        background: var(--hover);
        transition: 0.4s;
    }
    header ul {
        max-height: 0px;
        width: 100%;
        background: var(--main);
        overflow: hidden;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .showing {
        max-height: 100em;
        clip-path: circle(1100px at 90% -10%);
        -webkit-clip-path: circle(1100px at 90% -10%);
        pointer-events: all;
    }
    /*End navbar*/
    /*back to top button*/
    .back-to-top {
        width: 30px;
        height: 30px;
        bottom: 15px;
        text-align: center;
        line-height: 1;
        font-size: 12px;
    }
    .back-to-top i {
        margin-top: 10px;
        color: #fff;
    }
    /*end back to top responsive*/
    /*content responsive*/
    /*end content responsive*/
}

@media only screen and (max-width:934px) {
    .content {
        width: 100%;
    }
}

@media only screen and (max-width:850px) {
    .content .main-content {
        width: 100%;
        padding: 10px;
    }
    .content .main-content .post {
        width: 100%;
        margin: 20px auto;
    }
    .content .sidebar {
        width: 100%;
        padding: 10px;
    }
    .content .sidebar .section.search {
        margin-top: 30px;
    }
}

@media only screen and (max-width:600px) {
    .content .main-content {
        width: 100%;
        padding-right: 50px;
    }
    .content .main-content .post {
        height: auto;
    }
    .content .main-content .post img {
        width: 100%;
    }
    .content .main-content .post .post-preview {
        width: 100%;
    }
    .content .main-content .post .read-more {
        position: static;
        width: 100%;
        display: block;
        text-align: center;
    }
}